body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #000;
  max-width: 800px;
  max-height: 480px;
  font-family: monospace;
  font-size: 14px;
  font-style: normal;
  color: #fff;
}

#navigation {
  width: 90px;
  height: 480px;
  display: block;
  border: 1px blue solid;
  float: left;
}

#time {
  width: 700px;
  height: 480px;
  border: 0px green solid;
  font-size: 9em;
  font-weight: bold;
  float: right;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#t {
  text-align: center;
}

#calendar {
  width: 700px;
  height: 480px;
  border: 1px pink solid;
  font-size: 40px;
  float: right;
}

.calendar-widget {
  color: red;
}

#weather {
  width: 700px;
  height: 480px;
  border: 0;
  float: right;
  vertical-align: middle;
  font-size: 800px;
  display: inline-flex;
}

 #photo {
   width: 700px;
   height: 480px;
   border: 0;
   float: right;
   overflow: inherit;
   display: inline-flex;
 }
