/*
 * by Mario Seijo
 * November 22 2020
 *
 */

body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #000;
  max-width: 800px;
  max-height: 480px;
  font-family: monospace;
  font-style: normal;
  color: cyan;
}

#navigation {
  width: 120px;
  height: 480px;
  display: block;
  float: left;
}

#navigation i {
    font-size: 60px;
    color: cyan;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#dynamicContent {
  width: 680px;
  height: 480px;
  float: right;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#time {
  font-size: 7em;
  font-weight: bold;
  float: right;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#calendar {
  border-width: 0;
  width: 600px;
  height: 480px;
  float: right;
}

#traffic img {
  height: 476px;
}
